<div class="full-width container header-bg">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3 full-width">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
                <img src="/assets/images/icon.png" style="max-width: 20%; padding-bottom: 5%; height: auto;">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="font-size: 1.25rem;">


                {% for item in site.data.navigation %}
                <li><a href="{{ item.link }}"
                        class="nav-link px-4 {% if page.url==item.link %}link-secondary{% else %}link-light{% endif %}">{{
                        item.name }}</a></li>
                {% endfor %}
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-3">Resume</button>
                <button type="button" class="btn btn-primary">Contact Me</button>
            </div>
        </header>
</div>