---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Homelab",
    desc: [
      "Started a homelab that contains many services including Jellyfin, Proxmox VE, and more",
      "Exposed to the internet using Cloudflare Zero Trust",
      "Expanded from one to two servers hosting my services",
      "The server has been maintained for 2 years",
    ],
    tech: ["Docker", "Proxmox VE", "Cloudflare Zero Trust", "Nginx"]
  },
  {
    title: "To-Do App",
    desc: [
      "Developed a todo app for the CS50x online course final project",
      "Designed and implemented a backend and database using python with flask and sql",
      "Implemented the Web Page UI using Bootstrap CSS",
      "Created Dockerfile and distributed the docker image on the Github Container Repo"
    ],
    tech: ["HTML", "Bootstrap CSS", "Python", "Flask", "Docker"],
    link: "https://github.com/matheusbosc/todo-app"
  }
  
];
---

<!DOCTYPE html>
<html
>
  <Header title="DevOps | Matheus Bosc" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>DevOps</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        link={project.link}
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
