---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Matheus Boscariol" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I'm Matheus.<br />I make games, apps, and more!</h1>
              <p class="lead">
                Backend and Game Developer. A dedicated learner, problem solver, and team member, working to achieve good results, fast.
              </p>
            </div>
            <a href="mailto:matheus@matheusbosc.com	" class="button w-button">Contact</a>
          </main>
          <div class="projects-section">
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Software Development</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Unity</div>
                    <div class="single-chip small-chip">C#</div>
                    <div class="single-chip small-chip">Javascript</div>
                    <div class="single-chip small-chip">PostgreSQL</div>
                    <div class="single-chip small-chip">Python</div>
                    <div class="single-chip small-chip">Flask</div>
                    <div class="single-chip small-chip">SQL</div>
                    <div class="single-chip small-chip">Swift</div>
                    <div class="single-chip small-chip">SwiftUI</div>
                    <div class="single-chip small-chip">HTML</div>
                  </div>
                </div>
              </div>
            </a>
            <!-- DevOps & Cloud -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>DevOps &amp;&nbsp;Cloud</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Github Actions</div>
                    <div class="single-chip small-chip">Google Cloud</div>
                    <div class="single-chip small-chip">Proxmox VE</div>
                    <div class="single-chip small-chip">Docker</div>
                    <div class="single-chip small-chip">Cloudflare Zero Trust</div>
                    <div class="single-chip small-chip">Github Sites</div>
                    <div class="single-chip small-chip">Linux</div>
                    <div class="single-chip small-chip">Bash</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>