---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "To-Do App",
    desc: [
      "Developed a todo app for the CS50x online course final project",
      "Designed and implemented a backend and database using python with flask and sql",
      "Implemented the Web Page UI using Bootstrap CSS",
      "Created Dockerfile and distributed the docker image on the Github Container Repo"
    ],
    tech: ["HTML", "Bootstrap CSS", "Python", "Flask", "Docker"],
    link: "/projects/todo-app"
  },
  {
    title: "Chat++",
    desc: [
      "Developed a server and client for a chat application.",
      "Designed the user interface for the client using FTXUI",
      "Created a CI/CD workflow in jenkins for building, deploying, and distributing",
    ],
    tech: ["C++", "CMake", "JSON", "Jenkins"],
    link: "/projects/chat-plus-plus"
  },
  {
    title: "Last Ember",
    desc: [
      "Participated in the Brainless Mini Game Jam 2026",
      "Created a completed and optimized game featuring many feature",
      "Received #9 place in the presentation category"
    ],
    tech: ["Unity", "C#", "JSON"],
    link: "/projects/last-ember"
  },
  {
    title: "Mini-WC",
    desc: [
      "Created a simplified version of the 'wc' utility in unix",
      "Used only Assembly for the entire program, without any higher level language.",
    ],
    tech: ["Assembly"],
    link: "/projects/mini-wc"
  },
  {
    title: "Space Game",
    desc: [
      "Created a 3 dimentional version of the Atari Game, Space Invaders with extra features",
      "Made for my final project in my computer technology class",
      "Includes a shop and upgrade system, wave system, leaderboard"
    ],
    tech: ["Unity", "C#", "HLSL Shaders"],
    link: "/projects/space-game"
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Software Development | Matheus Boscariol" seoTitle="Software Development | Matheus Boscariol" description="Checkout my software development projects, including games, apps, and more." pageUrl="https://matheusbosc.com/software-development/"/>
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="javascript:history.back()" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        link={project.link}
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
