---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "To-Do App",
    desc: [
      "Developed a todo app for the CS50x online course final project",
      "Designed and implemented a backend and database using python with flask and sql",
      "Implemented the Web Page UI using Bootstrap CSS",
      "Created Dockerfile and distributed the docker image on the Github Container Repo"
    ],
    tech: ["HTML", "Bootstrap CSS", "Python", "Flask", "Docker"],
    link: "/projects/todo-app"
  },
  {
    title: "Last Ember",
    desc: [
      "Participated in the Brainless Mini Game Jam 2026",
      "Created a completed and optimized game featuring many feature",
      "Received #__ place in the game jam"
    ],
    tech: ["Unity", "C#", "JSON"],
    link: "https://github.com/matheusbosc/Last-Ember"
  },
  {
    title: "Space Game",
    desc: [
      "Created a 3 dimentional version of the Atari Game, Space Invaders with extra features",
      "Made for my final project in my computer technology class",
      "Includes a shop and upgrade system, wave system, leaderboard"
    ],
    tech: ["Unity", "C#", "HLSL Shaders"],
    link: "https://github.com/matheusbosc/SpaceGame"
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Software Development | Matheus Bosc" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        link={project.link}
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
