---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Last Ember | Matheus Boscariol" seoTitle="Last Ember | Matheus Boscariol" description="Last Ember is a game I made for the Brainless Mini-Game Jam." pageUrl="https://matheusbosc.com/projects/last-ember" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a
              href="javascript:history.back()"
              class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Last Ember</h1>
            <section class="items-container">
              <div class="resouce-items">
                <div class="single-item">
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/Last-Ember"
                        >Github Page</a
                      >
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/last-ember"
                        >Itch.Io Page</a
                      >
                    </div>
                  </div>
                  <br />
                  <p>
                    <strong>Platform:</strong> PC & Web
                  </p>
                  <p>
                    <strong>Role:</strong> Developer & Artist
                  </p>
                  <p>
                    <strong>Stack:</strong> Unity, C#, Git & Github, Photoshop
                  </p>
                  <p>
                    <strong>Status:</strong> Complete
                  </p>

                  <blockquote>
                    A fast paced survival 2D survival game with many obstacles attempting to stop you from surviving any longer.
                  </blockquote>
                </div>

                <div class="single-item">
                  <h3>Key Highlights</h3>
                  <ul role="list">
                    <li>
                      Fast paced gameplay to keep you on your toes.
                    </li>
                    <li>
                      Random events chosen to keep you from surviving.
                    </li>
                    <li>
                      Completely custom and unique art to keep it fresh.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <h3>Challenges & Solutions</h3> <!-- TODO: Finish This -->
                  <ul role="list">
                    <li>
                      <strong>Time Constraint:</strong> Planned the development based on the priority of the feature.
                    </li>
                    <li>
                      <strong>Designing Something Simple:</strong> I broke my game down to its core building blocks and used those.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <a href="/assets/projects/last-ember/normal.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/last-ember/normal.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                  <a href="/assets/projects/last-ember/rain.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/last-ember/rain.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                </div>

                <div class="single-item">
                  <h3>Lessons Learned</h3>
                  <ul role="list">
                    <li>
                      Learned the importance of <strong>time management</strong> and <strong>project management</strong>.
                    </li>
                    <li>
                      Practiced working in a <strong>team</strong> and <strong>communicating</strong> well with my team. 
                    </li>
                    <li>
                      Improved ability to go from a <strong>prototype</strong> to a <strong>full game</strong>.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <a href="/assets/projects/last-ember/wind.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/last-ember/wind.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                  <a href="/assets/projects/last-ember/menu.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/last-ember/menu.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                </div>

                <div class="chips-container">
                  <div class="single-chip">
                    <a href="https://github.com/matheusbosc/Last-Ember"
                      >Github Page</a
                    >
                  </div>
                  <div class="single-chip">
                    <a href="https://matheusboscariol.itch.io/last-ember"
                      >Itch.Io Page</a
                    >
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
