---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Space Game | Matheus Boscariol" seoTitle="Space Game | Matheus Boscariol" description="Space game is a space invaders like game made for my computer technology class." pageUrl="https://matheusbosc.com/projects/space-game" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a
              href="javascript:history.back()"
              class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Space Game</h1>
            <section class="items-container">
              <div class="resouce-items">


                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/SpaceGame"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/space-game"
                        >Itch.Io Page</a>
                    </div>
                  </div>
                  <br />
                  <p>
                    <strong>Platform:</strong> PC
                  </p>
                  <p>
                    <strong>Role:</strong> Developer & Designer
                  </p>
                  <p>
                    <strong>Stack:</strong> Unity, C#, Git & Github
                  </p>
                  <p>
                    <strong>Status:</strong> Complete
                  </p>

                  <blockquote>
                    A 2d space exploration & combat game, focused on fast paced combat and upgrades.
                  </blockquote>
                </div>

                <div class="single-item">
                  <h3>Key Highlights</h3>
                  <ul role="list">
                    <li>
                      Fast paced gameplay to keep you on your toes.
                    </li>
                    <li>
                      Upgradeable ship with various upgrades.
                    </li>
                    <li>
                      Minimal art style focused on gameplay and experience.
                    </li>
                  </ul>
                </div>
                

                <div class="single-item">
                  <h3>Challenges & Solutions</h3>
                  <ul role="list">
                    <li>
                      <strong>Upgrade System:</strong> Implemented modular components for flexibility.
                    </li>
                    <li>
                      <strong>Performance:</strong> Optimized game heavily to run better on older systems.
                    </li>
                    <li>
                      <strong>Level Design:</strong> Created a simple level and wave system with checkpoints for the ship ai's.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/space-game/game1.png"><img class="project-display" src="/assets/projects/space-game/game1.png" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/space-game/shop.png"><img class="project-display" src="/assets/projects/space-game/shop.png" style="max-width: 49.5%;"></a>
                </div>

                <div class="single-item">
                  <h3>Lessons Learned</h3> <!-- TODO: Finish This -->
                  <ul role="list">
                    <li>
                      Deepened understanding of <strong>game optimization</strong>.
                    </li>
                    <li>
                      Learned how to use <strong>shaders</strong> to create a unique visual style.
                    </li>
                    <li>
                      Practiced creating and using custom <strong>navigation ai</strong>.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/space-game/game2.png"><img class="project-display" src="/assets/projects/space-game/game2.png" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/space-game/game3.png"><img class="project-display" src="/assets/projects/space-game/game3.png" style="max-width: 49.5%;"></a>
                </div>

                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/SpaceGame"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/space-game"
                        >Itch.Io Page</a>
                    </div>
                  </div>
                </div>

                

              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
