---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Space Game | Matheus Boscarop;" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a
              href="/software-development"
              class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Space Game</h1>
            <section class="items-container">
              <div class="resouce-items">


                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/SpaceGame"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/space-game"
                        >Itch.Io Page</a>
                    </div>
                  </div>
                </div>

                <div class="single-item">
                  <p>
                    Space Game is a game inspired by Atari's, Space Invaders that I made for my computer technology class.
                  </p>
                  
                </div>

                <div class="single-item">
                  <h3>The Goal</h3>
                  <p>
                    The goal for this project was to make a 3d version of Atari's, Space Invaders, but it turned out to be a bit more than that.
                  </p>
                  <p>
                    I planned to have multiple waves, in which the player's space ship shot at the enemies that moved in a specific pattern.
                    This had a small scope, which is what I wanted.
                  </p>
                </div>
                

                <div class="single-item">
                  <h3>Development</h3>
                  <p>
                    As I developed the game, my scope grew. I added more and more waves, I added a shop, and even a boss battle.
                  </p>
                  <p>
                    The space ships moved towards each checkpoint in the waves and kept shooting while at it. Once they reached it they went to the next.
                    It you kill a ship you get some coins to spend in the shop.
                  </p>
                  
                  <p>
                    The shop allows you to buy upgrades or fully heal. Without buying upgrades, it becomes impossible to beat the game.
                  </p>
                  <p>
                    The boss battle is just like any other level, except its way harder and has way more enemies.
                  </p>
                  <p>
                    In this game, I used 3d modeled space ships I found online, as I didnt have much time. To hide the weird mix of styles (and also
                    because I thought it looked cool) I put a pixelated effect overlay. The music was generated online since i'm not good at <strong>making</strong>
                    music.
                  </p>
                  <p>
                    I also added a leaderboard, because why not. But it is really hard to get on the leaderboard (so hard that i'm the only one on there out of the many people that played).
                  </p>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/space-game/game1.png"><img class="project-display" src="/assets/projects/space-game/game1.png" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/space-game/shop.png"><img class="project-display" src="/assets/projects/space-game/shop.png" style="max-width: 49.5%;"></a>
                </div>

                <div class="single-item">
                  <h3>What I Could Improve</h3>
                  <p>
                    There are a few things that I could've improved in the game.
                  </p>
                  <p>
                    The #1 thing I could've done better was optimization. Each bullet was a different gameobject. Each bullet also contained a point light.
                    The huge amount of gameobjects and lights takes a huge toll on performance. I even had to make an "optimized" version of the game witout the lights.
                    This is a huge problem, but I have improved at optimization.
                  </p>
                  <p>
                    Another thing that I could've improved was the art; especially the UI. The user interface for this game is definetly not my best work.
                    I don't really like the way the UI turned out, it looks kind of ugly, especially the main menu.
                  </p>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/space-game/game2.png"><img class="project-display" src="/assets/projects/space-game/game2.png" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/space-game/game3.png"><img class="project-display" src="/assets/projects/space-game/game3.png" style="max-width: 49.5%;"></a>
                </div>

                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/SpaceGame"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/space-game"
                        >Itch.Io Page</a>
                    </div>
                  </div>
                </div>

                

              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
