---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="System Breach | Matheus Boscariol" seoTitle="System Breach | Matheus Boscariol" description="." pageUrl="https://matheusbosc.com/projects/system-breach" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a
              href="javascript:history.back()"
              class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>System Breach</h1>
            <section class="items-container">
              <div class="resouce-items">
                <div class="single-item">
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://ttp.matheusbosc.com"
                        >Trust The Process</a
                      >
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/system-breach"
                        >Itch.Io Page</a
                      >
                    </div>
                  </div>
                  <br />
                  <p>
                    <strong>Platform:</strong> PC & Web (Future Console Release)
                  </p>
                  <p>
                    <strong>Role:</strong> Developer
                  </p>
                  <p>
                    <strong>Stack:</strong> Unity, C#, Git & Github, Aseprite, Blender, FL Studio
                  </p>
                  <p>
                    <strong>Status:</strong> Ongoing
                  </p>

                  <blockquote>
                    Sneak and hack your way across the building after escaping captivity. Fight to get to the next floor. Enjoy this fast and slow paced mix of stealth and combat.
                  </blockquote>
                </div>

                <div class="single-item">
                  <h3>Key Highlights</h3>
                  <ul role="list">
                    <li>
                      A pixelated, doom-like style with billboarded sprites.
                    </li>
                    <li>
                      Mixes 2 unique genres, stealth and action.
                    </li>
                    <li>
                      Hack your way through the levels and unlock cool gear.
                    </li>
                    <li>
                      Hide from the enemies in different places in the levels
                    </li>
                    <li>
                      Survive infinite enemies until you're able to flee.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <h3>Challenges & Solutions</h3> <!-- TODO: Finish This -->
                  <ul role="list">
                    <li>
                      <strong>Ambition & Time Constrain:</strong> Our ambition slowed us down. We wanted more features, but we got rid of as many unnecessary features as possible and managed to submit a playable game.
                    </li>
                    <li>
                      <strong>Teamwork:</strong> This was everyone's first time properly using git to work in a team, so we also had to learn how to deal with merge issues, and other stuff like that during the development phase. 
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <a href="/assets/projects/system-breach/computer.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/system-breach/computer.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                  <a href="/assets/projects/system-breach/weapon.jpg"
                    ><img
                      class="project-display"
                      src="/assets/projects/system-breach/weapon.jpg"
                      style="max-width: 49.5%;"
                    /></a
                  >
                </div>

                <div class="single-item">
                  <h3>Lessons Learned</h3>
                  <ul role="list">
                    <li>
                      Learned that ambition can <strong>kill a project</strong> and that we have to <strong>manage our time and plans</strong>.
                    </li>
                    <li>
                      Practiced working with <strong>git</strong> and <strong>sharing code and assets</strong> with a team. 
                    </li>
                    <li>
                      Learned the <strong>importance of meeting and communicating</strong> with my team to make sure we're on the same page.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                  <a href="/assets/projects/system-breach/security.png"
                    ><img
                      class="project-display"
                      src="/assets/projects/system-breach/security.png"
                      style="max-width: 49.5%;"
                    /></a
                  >
                  <a href="/assets/projects/system-breach/hacking.jpg"
                    ><img
                      class="project-display"
                      src="/assets/projects/system-breach/hacking.jpg"
                      style="max-width: 49.5%;"
                    /></a
                  >
                </div>

                <div class="chips-container">
                  <div class="single-chip">
                      <a href="https://ttp.matheusbosc.com"
                        >Trust The Process</a
                      >
                    </div>
                    <div class="single-chip">
                      <a href="https://matheusboscariol.itch.io/system-breach"
                        >Itch.Io Page</a
                      >
                    </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
