---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="To-Do App | Matheus Boscarop;" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a
              href="javascript:history.back()"
              class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>To-Do App</h1> <!-- TODO: Revamp This -->
            <section class="items-container">
              <div class="resouce-items">


                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/todo-app"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/todo-app/pkgs/container/todo-app"
                        >GHCR Container</a>
                    </div>
                  </div>
                  <br />
                  <p>
                    <strong>Platform:</strong> Web
                  </p>
                  <p>
                    <strong>Role:</strong> Full Stack Developer
                  </p>
                  <p>
                    <strong>Stack:</strong> Python, Flask, SQL, Bootstrap CSS
                  </p>
                  <p>
                    <strong>Status:</strong> Complete
                  </p>

                  <blockquote>
                    A modern web-based todo application with responsive design, list sharing, and account system.
                  </blockquote>
                </div>

                <div class="single-item">
                  <h3>Key Highlights</h3>
                  <ul role="list">
                    <li>
                      Responsive design for desktop and mobile.
                    </li>
                    <li>
                      Upgradeable ship with various upgrades.
                    </li>
                    <li>
                      Minimal art style focused on gameplay and experience.
                    </li>
                  </ul>
                </div>
                

                <div class="single-item">
                  <h3>Challenges & Solutions</h3>
                  <ul role="list">
                    <li>
                      <strong>Upgrade System:</strong> Implemented modular components for flexibility.
                    </li>
                    <li>
                      <strong>Performance:</strong> Optimized game heavily to run better on older systems.
                    </li>
                    <li>
                      <strong>Level Design:</strong> Created a simple level and wave system with checkpoints for the ship ai's.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/todo-app/login-page.jpg"><img class="project-display" src="/assets/projects/todo-app/login-page.jpg" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/todo-app/my-page.jpg"><img class="project-display" src="/assets/projects/todo-app/my-page.jpg" style="max-width: 49.5%;"></a>
                </div>

                <div class="single-item">
                  <h3>Lessons Learned</h3> <!-- TODO: Finish This -->
                  <ul role="list">
                    <li>
                      Deepened understanding of <strong>game optimization</strong>.
                    </li>
                    <li>
                      Learned how to use <strong>shaders</strong> to create a unique visual style.
                    </li>
                    <li>
                      Practiced creating and using custom <strong>navigation ai</strong>.
                    </li>
                  </ul>
                </div>

                <div class="single-item">
                      <a href="/assets/projects/todo-app/other-page.jpg"><img class="project-display" src="/assets/projects/todo-app/other-page.jpg" style="max-width: 49.5%;"></a>
                      <a href="/assets/projects/todo-app/account-page.jpg"><img class="project-display" src="/assets/projects/todo-app/account-page.jpg" style="max-width: 49.5%;"></a>
                </div>

                

                <div class="single-item">
                  
                  <div class="chips-container">
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/todo-app"
                        >Github Page</a>
                    </div>
                    <div class="single-chip">
                      <a href="https://github.com/matheusbosc/todo-app/pkgs/container/todo-app"
                        >GHCR Container</a>
                    </div>
                  </div>
                </div>

                

              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
